@import "../../styles/variable.scss";
@import "../../styles/responsive.scss";

.login {
    min-height: 100vh;
    display: flex;

    .login-container {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding:0px 50px;
        @include md {
            width: 100%;
            justify-content: start;
            padding-top: 65px;
        }

        .logo-heading {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 10px 0px;
            text-align: center;

            img {
                width: 220px;
            }
            h1 {
                font-size: 1.2rem;
                font-weight: bold;
            }
        }

        .login-form {
            display: flex;
            flex-direction: column;
            gap: 25px;
            width: 100%;
            margin: 10px 0px;

            .input-container {
                display: flex;
                flex-direction: column;
                gap: 2px;
                label {
                    color: #131313d0;
                    font-size:1rem;
                }

                input {
                    border: 1px solid rgba(128, 128, 128, 0.473);
                    padding: 8px 10px;
                    border-radius: 5px;
                    width: 100%;
                    color: rgb(43, 39, 39);
                }
                input:focus {
                    border: 1px solid #007aff;
                    outline: #006de4;
                }
            }
            .forgot-password{
                text-align: right;
                max-width: 4px 0px;
            }
            .login-btn {
                width: 100%;
                margin: auto;
                background-color: #007aff;
                margin: 15px auto;
                padding: 8px;
                color: white;

                :hover {
                    background-color: #006de4;
                }
            }
        }
        .signup-link-text {
            color: #007aff;
            font-weight: 500;
        }
    }
    .auth-background-img {
        width: 70%;
        background-image: url("/auth-background-img.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        @include md {
            display: none;
        }
    }
    .account-text{
        font-size: 0.9rem;
    }
}
