@import "../../styles/variable.scss";
@import "../../styles/responsive.scss";

.markattendance-buttons {
  width: 100%;
  padding: 20px 0px;

  .markattendance-btn {
    color: white;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    font-size: 1.5rem;
    width: 100%;
 
    @include md {
      width: 100%;
      padding: 8px;
      border-radius: 5px;
      font-size: 1.1rem;
    }
  }
  .markattendance-btn.entry {
    background-color: rgb(69, 145, 155);
  }
  .markattendance-btn.exit {
    background-color: rgb(69, 155, 69);
  }
}
