@import "../../styles/variable.scss";
@import "../../styles/responsive.scss";

.verify-mail-section {
    .verify-mail-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 22px;

        @include md {
            font-size: 15px;
            flex-direction: column;
        }

        .verifymail-heading-btn {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}
