@import "../../styles/variable.scss";
@import "../../styles/responsive.scss";

.sideNav {
    min-width: 40%;
    // border-right: 2px solid rgba(128, 128, 128, 0.164);
    background-color: white;
    bottom: 0;
    @include md {
        border: 5x solid red;
        display: none;
        margin: 0px;
    }
}

.sideNav.open {
    display: flex;
    position: fixed;
    top: 0;
    z-index: 50;
    width: 100vw;
    gap: 10px;
    justify-content: start;
}
.sideNav.close {
    height: 100%;
    position: sticky;
    background-color: white;
}

.active {
    font-weight: bold; /* Or any other styling you prefer */
    color: white; /* Or any other color you prefer */
    background-color: rgb(16, 47, 51);
    padding: 10px;
    border-radius: 5px;
}
.all-links-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
}
.navlist {
    width: 100%;
    border: 2px solid transparent;
    font-size: 20px;
    list-style-type: none;
    margin: 20px 0px;
    font-weight: 600;
}
.navlink {
    border: 2px solid transparent;
    display: flex;
    gap: 5px;
    align-items: center;
}
.sidenav-wrapper {
    padding: 1rem;
}
.logo {
    img {
        width: 200px;
        @include md {
            width: 150px;
        }
    }
}
.mobile-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    background-color: white;
    padding: 20px;
    z-index: 40;
    border-bottom: 2px solid rgba(128, 128, 128, 0.521);
    @include md {
        padding: 10px;
    }
    .menuicon {
        img{
            width: 25px;
        }
    }
    .avatar {
        width: 40px;
    }
    .right {
        display: flex;
        align-items: center;
        gap: 20px;

        .notification {
            width: 40px;
        }
    }
}

.open-mobile-menu {
    display: none;
}
.close-mobile-menu{
   position: absolute;
   right: 0;
   padding: 20px;
   color: red;
   font-size: 1.4rem;

}
.mobilemenu {
    z-index: 90;
    position: fixed;
    width: 100%;
    top: 0px;
}
