@import "../../styles/variable.scss";
@import "../../styles/responsive.scss";

.sideNav {
    min-width: 40%;
    // border-right: 2px solid rgba(128, 128, 128, 0.164);
    background-color: white;
    bottom: 0;
    @include md {
        border: 5x solid red;
        display: none;
        margin: 0px;
    }
}

.sideNav.open {
    display: flex;
    position: fixed;
    top: 0;
    z-index: 50;
    width: 100vw;
    justify-content: start;
}
.sideNav.close {
    height: 100%;
    position: sticky;
    background-color: white;
}

.navlist .active {
    font-weight: bold; /* Or any other styling you prefer */
    color: white; /* Or any other color you prefer */
    background-color: rgb(16, 47, 51);
    padding: 10px;
    border-radius: 5px;
}
.all-links-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
}
.navlist {
    width: 100%;
    border: 2px solid transparent;
    font-size: 20px;
    list-style-type: none;
    margin: 20px 0px;
    font-weight: 600;
    @include md {
        margin: 15px 0px;
        font-size: 17px;
    }
}
.navlink {
    border: 2px solid transparent;
    display: flex;
    gap: 5px;
    align-items: center;
}
.sidenav-wrapper {
    padding: 1rem;
}
.logo {
    img {
        width: 200px;
        @include md {
            width: 150px;
        }
    }
}
.mobile-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    padding: 10px;
    z-index: 40;
    // border-bottom: 1px solid rgba(128, 128, 128, 0.274);
    // box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    @include md {
        padding: 10px;
    }
    .menuicon {
        display: none;
        @include md {
            display: block;
        }
        img {
            width: 25px;
        }
    }
    .avatar {
        width: 40px;
    }
    .right {
        display: flex;
        align-items: center;
        gap: 20px;

        .notification {
            width: 40px;
        }
    }
}

.open-mobile-menu {
    display: none;
}
.close-mobile-menu {
    position: absolute;
    right: 0;
    padding: 20px;
    color: red;
    font-size: 1.4rem;
}
.mobilemenu {
    z-index: 90;
    position: fixed;
    width: 100%;
    top: 0px;
}

//android menu css
.android-menu {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 100;
    display: none;
    justify-content: space-between;
    background-color: white;
    @include md {
        display: flex;
    }
    .android-navlist {
        display: flex;
        list-style-type: none;
    }
    .android-navlink {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 15px;
        padding: 8px;
    }
    .android-navlist .active {
        color: rgb(2, 91, 150);
        background-color:white;
        border-radius: 50%;
        margin: 0px 0px;
        font-weight: 600;
    }
}
