@import "./variable.scss";
@import "./responsive.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alex Brush", cursive;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
.main {
  max-width: 98vw;
}

.page-wrapper {
  min-height: 90vh;
  width: 100%;
}
.primary-button {
  background-color: rgb(20, 64, 82);
  width: fit-content;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.quote-text {
  color: rgba(0, 0, 0, 0.801);
  line-height: 1.75em;
}

.text-darkblue {
  color: rgb(20, 64, 82);
  font-weight: bold;
}

.react-calendar{
  width: 100% !important;
}