@import "./variable.scss";
@import "./responsive.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alex Brush", cursive;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}
.main {
  max-width: 100vw;
}

.quote-text {
  color: rgba(0, 0, 0, 0.801);
  line-height: 1.75em;
}

.text-darkblue {
  color: rgb(20, 64, 82);
  font-weight: bold;
}

.error {
  color: red;
  padding: 10px 10px 10px 0px;
}
.success {
  color: rgb(19, 155, 64);
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 10px 10px 0px;
}

//Layout
.main-container {
  display: flex;
  @include md {
    margin: 0px;
    padding: 0px;
    display: block;
  }
}
.sidenav {
  width: 20%;
  border-right: 2px solid rgba(128, 128, 128, 0.411);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  @include md {
    margin: 0px 0px;
    width: 0%;
  }
}
.page-wrapper {
  min-height: 90vh;
  width: 80%;
  padding: 100px 20px;

 
  @include md {
    margin: 0px 0px;
    width: 100%;
    padding: 0px 2px;
  }
}
.primary-button {
  background-color: rgba(4, 25, 37, 0.911);
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.secondary-button {
  background-color: rgba(4, 25, 37, 0.911);
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  color: white;
  margin: 20px 0px;
}
