@import "../../styles/variable.scss";
@import "../../styles/responsive.scss";

.home-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
   
    @include md {
        padding: 40px 0px;
    }

    .profile,
    .announcement-container {
        // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
}
