.home-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

    .profile,
    .announcement-container {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
}
