/* HolidayCalendar.css */

.holiday-mark {
  position: relative;
  top: 0px;
  width: 100%;
  height: 5px;
  background-color: blue;
  /* border-radius: 50%; */
  cursor: pointer;
  /* font-size: 15px; */
  /* overflow: scroll; */
}

/* Optional: Style the tooltip as per your preference */
.tooltip {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
}

.yellowDate{
  color: blue !important;
  border: 2px solid red;
  border-radius: 50;
}
