.attendance-dashboard-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    

    .calendar-and-presentdays{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding: 20px;
    }
    .attendance-btns-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
        

        img {
            width: 60%;
        }
    }
}
