@import "../../styles/variable.scss";
@import "../../styles/responsive.scss";

.signup {
    min-height: 100vh;
    display: flex;

    .signup-container {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px 10px;
        @include md {
            width: 100%;
        }
        .signup-wrapper {
            width: 100%;
            margin: 40px auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @include md {
                width: 100%;
                justify-content:start;
                padding-top: 10px;
            }
            .logo-heading {
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding: 10px 0px;
                text-align: center;
    
                img {
                    width: 220px;
                }
                h1 {
                    font-size: 1.2rem;
                    font-weight: bold;
                }
            }

            .form-signup {
                width: 100%;
                padding: 20px;

                .input-div h1 {
                    font-size: 30px;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                }
                a {
                    text-decoration: none;
                    color: rgb(20, 64, 82);
                }
                .input-div {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    gap: 14px;
                    width: 100%;
                    margin: auto;
                    align-items: flex-start;

                    label{
                        padding: 2px 5px;
                    }
                }

                .input-div input {
                    padding: 8px 20px;
                    width: 100%;
                    border: 1px solid rgba(128, 128, 128, 0.397);
                    border-radius: 8px;
                    // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                }

                .input-div input:focus {
                    border: 1px solid rgb(27, 95, 197);
                    font-size: 14px;
                    outline: none;
                }
                .input-div input::placeholder {
                    font-size: 14px;
                }

                .input-div select {
                    padding: 7px 20px;
                    border: 2px solid rgba(15, 15, 15, 0.192);
                    border-radius: 8px;

                    // box-shadow: rgb(0 0 0 / 26%) 2px 5px 15px;
                    font-size: 18px;
                }
                .signup-btn {
                    width: 100%;
                    margin: auto;
                    background-color: #007aff;
                    margin: 15px auto;
                    padding: 8px;
                    color: white;

                    :hover {
                        background-color: #006de4;
                    }
                }              
                .login-link-text {
                    color: #007aff;
                    font-weight: 500;
                    font-size: 0.9rem;
                }
            }
        }
    }
    .auth-background-img {
        width: 70%;
        background-image: url("/auth-background-img.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        @include md {
            display: none;
        }
    }
    .account-text {
        font-size: 0.9rem;
    }
}
